.controls {
  position: fixed !important;
  bottom: 0;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.2) !important;
}

.controls--toolbar {
  justify-content: center;
}

.controls--group {
  margin: 0 25px;
}

.controls--bpm {
  width: 50px;
}

.controls--group .MuiInput-inkbar-3p:after {
  background-color: #3f51b5;
}

.controls--group .MuiFormLabel-focused-3k {
  color: #3f51b5
}
