.controls {
  position: fixed !important;
  bottom: 0;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.2) !important;
}

.controls--toolbar {
  justify-content: center;
}

.controls--button {
  margin-right: 50px;
}
