.controls {
  position: fixed !important;
  bottom: 0;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.2) !important;
}

.controls--toolbar {
  justify-content: center;
}

.controls .controls--group {
  flex-grow: 0;
  margin: 0 20px;
}

.controls--bpm {
  width: 50px;
}

.controls div[class*=MuiInput-inkbar]:after {
  background-color: #2196F3;
}

.controls label[class*=MuiFormLabel-focused] {
  color: #2196F3
}